*{
    margin: 0;
    padding: 0;
    font-family: "matter";
    
    
}

*::selection{
    color: rgb(253, 250, 253);
    background-color: rgb(240, 220, 239)
}

.main{
    width: 100%;
    background-color: rgb(239, 223, 240);
}

#nav{
    justify-content: space-between;
    display: flex;
    align-items: center;
   
}
#nav img{
    width:100px;
}

#nav #right{
    display: flex;
    align-items: center;
    gap: 30px; 
}



#nav a{
    text-decoration: solid;
    font-weight: 600;
    color: black;
    font-size: 1.5vw;
      
}

#nav i{
    margin-top: 3px;
    font-size: 30px
}

#home #homemain{
    width: 70%;
    padding: 2vw 10vw;

}

#homemain h1 {
    font-weight: 600;
    font-size: 3vw;
    color: transparent;
    -webkit-text-stroke: 1px rgb(17, 17, 17);
}

#homemain h1:hover{
    color:rgb(94, 31, 94); 
}


.newheadings{
    display: flex;
    gap: 40px;
}

#homemain .newheadings h1{
    color: transparent;
    -webkit-text-stroke: 1px violet;
    font-size: 7vw;
    font-weight: 900;
    letter-spacing: -8px;
}

#homemain .newheadings h1:hover{
    color:black; 
}

.headings{
    display: flex;
    gap: 40px;
}

#homemain .headings h1{
    color: transparent;
    -webkit-text-stroke: 1px violet;
    font-size: 7vw;
    font-weight: 900;
    letter-spacing: -8px;

}

#homemain .headings h1:hover{
    color:black; 
}

#homemain h1::selection{
    color: white;
    background-color: black
}

#homelast{
    padding: 0vw 10vw;
}

#homelast p{
    font-size: 2vw;
    font-weight: 900;
    letter-spacing: -.05vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
 }

 #homelast p::selection{
    color: white;
    background-color: black
}

#featured{
    padding: 0vw 7vw;
}

.fheading>h1{
    line-height: 1;
    font-size: 4vw;
    font-weight: 400;
}


.fheading>h1:nth-child(2){
    color: transparent;
    -webkit-text-stroke: 1px violet;
}


#fimages{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 50vw;
    margin-top: 5vw;
}


#fleft{
    overflow: auto;
    width: 45%;
    height: inherit;
}



#fleft pre{
    font-size: 1.45vw;
    object-fit:cover;
    color: transparent;
    -webkit-text-stroke: 1.5px rgb(177, 91, 177);
}


.fleftelm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: inherit;
}

.fleftelm h1{
    font-size: 2.5vw;
    line-height: 1;
    font-weight: 400;
    text-transform: capitalize;
    margin: 2vw 0;

}

.fleftelm h3{
    font-size: 1.5vw;
    font-weight: 400;
}

.fleftelm h4{
    opacity: 0.4;
}

#fright{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 45%;
   height: inherit;
   
} 

#fright .images{
    width: 90%;
    height: 90%;
    background-color: red;
}

#fright .images img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btndiv{
    display: flex;
    align-items: center;
    justify-content: center;
}

.btndiv button{
    padding: 1.3vw 2.5vw;
    border-radius: 100px;
    border: 2px solid rgb(214, 214, 214);
    background-color: white;
    font-size: 1vw;
    font-weight: 500;
    letter-spacing: -1px;
}


#dev{
    width: 100%;
    padding: 5vw 0vw;
}


#dev h1{
    font-size: 3.8vw;
    font-weight: 400;
    width: 60%;
    line-height: 1;
}


#dev p{
    font-size: 1.5vw;
    margin-top: 3vw;
    letter-spacing: -.5px;
    width: 60%;
}

#slides{
    padding: 2vw 2vw;
    display: flex;
    gap: 5vw;
    justify-content: space-between;
}


.slide{
    width: 30%;
}


.slide .img{
    width: 100%;
    height: 270px;
    overflow: hidden;
    border-radius: 10px;
    background-color: yellow;
}

.slide .tag{
    width: fit-content;
    border-radius: 100px;
    padding: 10px 22px;
    background-color: #f7f7f7;
    margin: 20px 0;
}

.slide .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slide h3{
    font-size: 1.4vw;
    font-weight: 400;
    letter-spacing: -.5px;
}
